<%# Need to run from Ubuntu WSL. Start development server with "rails server" or "rails scd" %>
<div class="d-flex align-items-center justify-content-center">
    <h1>Welcome to scheduled tweets</h1>
</div>